---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'About Page'
const identity = {
    fullName: "Maqsood Ahmad Tali ",
    country: "India",
    ocupation: "Student",
    hobby: ['playing cricket', 'playing volleyball','watching cricket'],
};

const skills = ['HTML','CSS', 'JAVASCRIPT','DENO','NODE'];
const happy = true;
const finished = false;
const goal =3;
const skillColour = "navy";
const fontSize ="3rem";
const fontWeight = "bold";
const textCase = "uppercase";
---

    <style define:vars={{skillColour, fontSize, textCase, fontWeight}}>
        h1{
            color: purple;
            font-size: 4rem;
        }
        .skill{
            color: var(--skillColour);
            font-size: var(--fontSize);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }

    </style>
    <BaseLayout pageTitle = {pageTitle}>
        <h2>Let you Know More about me  </h2>
        <ul>
            <li>My name is {identity.fullName}</li>
            <li>I live in {identity.country}</li>
            <li>I am {identity.ocupation}</li>
            <li>Two of my hobbies are {identity.hobby[0]} and {identity.hobby[2]}</li>
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) =><li class="skill">{skill}</li>)}
        </ul>
        {happy && <p>I am happy to learning this framework</p>}
        {finished && <p>I finished this tutorial</p>}
        {goal===3? <p>My goal is to finish in 3 days </p>:<p>My goal is not to finish in three days </p>}
    </BaseLayout>
        